* {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    padding: 10px;
}

h1{
    color: white;
}

p {
    color:gray;
}

u {
    color: cyan;
}

img, video {
    padding: 10px;
}